.recipe-card {
    width: 215px;
    height: 380px;
    border-radius: 12px;
    margin: 6px;
    box-shadow: 0px 0px 10px grey;
    position: relative;
}

.recipe-card img {
    width: 215px;
    height: 200px;
    object-fit: cover;
}

.recipe-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.recipe-category {
    color: rgb(198, 199, 204);
    font-size: 16px;
    margin-bottom: 10px;
}

.recipe-user {
    color: rgb(198, 199, 204);
    font-size: 12px;
    margin-bottom: 10px;
}

.recipe-description {
    font-size: 15px;
    color: rgb(156, 156, 160);
}

.recipe-actions {
    border-top: 2px solid rgb(241, 241, 241);
    position: absolute;
    /* bottom: 0px; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipe-actions i{
    padding-left: 18px;
    padding-right: 18px;
    color: rgb(80, 167, 119);

}