* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-family: 'Varela Round', sans-serif; */
    font-size: 100%;
    vertical-align: bottom;
    text-decoration: none;
    box-sizing: border-box;
}
.banner {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(249, 249, 249);
    height: 500px;
}
.banner-text {
    flex: 40%;
    padding-top: 200px;
    padding-bottom: 250px;
    padding-left: 20px;
    padding-right: 20px;
}
.banner-text h2 {
    font-size: 50px;
}
.banner-text p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.banner-text button {
    background-color: rgb(80, 167, 119);
    border-radius: 40px;
    color: white;
    padding: 15px 50px;
    font-size: 15px;
}
.banner-img {
    flex: 60%;
}
.banner-img img {
    object-fit: cover;
}

.phase1 {
    display: flex;
}
.recipes {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.show-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: rgb(80, 167, 119);
    border-radius: 40px;
    color: white;
    padding: 15px 50px;
    font-size: 15px;
}

.phase3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phase3 img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.phase3 h2 {
    font-size: 50px;
}

.phase3 h4 {
    font-size: 25px;
    color: rgb(164, 170, 178);
    padding: 10px;
}

.phase3 p {
    font-size: 25px;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.actions i {
    font-size: 25px;
    padding: 20px;
}